


.outerBox {
    background-color: hsl(300, 69%, 71%);
    margin-top:150px ;
    margin-bottom:150px;
    margin-left:2.5%;
    margin-right:2.5%;
    
    
}

.innerBox {
    background-color: hsl(257, 40%, 49%);
    background-image: url(/images/bg-desktop.svg);
    background-position: 0%;
    background-size:84%;
    background-repeat: no-repeat;
            
}

.logo{
    margin-left:200px;
    scale:150%;
    padding-top:25px;
    align-items: flex-start;
}

.leftObjects{

    scale:90%;
    
}

.rightObjects {
    margin-left:10px;
    margin-top:35px;
}

h1 {
    color:white;
    font-family:poppins;
}

.fontBox{
    width:350px;
}

button{
    color:hsl(257, 40%, 49%);
    border-radius: 25px;
    border: 0;
    padding:10px;
    width:150px;
    height:45px;
}

p {
    color:white;
    font-family:'Open Sans';
    width:460px;
    line-height: 1.5;
}

button:hover{
    cursor:pointer;
    background-color:hsl(300, 69%, 71%);
    color:white;
}

